---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: instance
    image: "geerlingguy/docker-${MOLECULE_DISTRO:-centos8}-ansible:latest"
    command: /sbin/init 
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
    privileged: true
provisioner:
  name: ansible
  config_options:
    defaults:
      stdout_callback: yaml
  lint:
    ansible-lint
scenario:
  test_sequence:
    - cleanup 
    - destroy
    - create
    - converge
    - verify
    - cleanup
    - destroy
verifier:
  name: ansible
