body {
    color: #555;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2 {
    color: #1b75a7;
}

.content-wrap {
    padding-top: 10px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 100%;
}

.navbar .nav.account-bar {
    margin-top: 0;
}

.span10 {
    margin-top: 5px;
    width: 400px;
}

.span9 {
    position: absolute;
    width: auto;
    margin-left: 0;
    margin-right: 75px;
    float: right;
    right: 0;
}

.span3 {
    width: auto;
}

.navbar .navbar-inner {
    background-image: none;
    margin: 0;
    padding: 0;
}

.navbar .nav > li {
    font-size: 16px;
    padding: 0 5px;
}

.navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
    font-size: 16px;
    padding: 0;
}

.navbar .nav.account-bar > li > a {
    padding-left: 0;
    padding-right: 0;
}

.nav-logo {
    background: url(/static/img/oq-logo-engine.png) no-repeat;
    width: 300px;
    height: 40px;
    margin: 0;
}

#gem-right-logo {
    float: right;
    right: 0;
    position: absolute;

}

.nav-logo-gem {
    background: url(/static/img/oq-gem.png) no-repeat;
    width: 72px;
    height: 40px;
    margin: 0;
}

.navbar .navbar-inner {
    background: url(/static/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
}

.navbar .nav > li.user {
    padding-top: 10px;
}

.navbar .nav > li.user > a:hover{
    text-decoration: underline;
}

nav.main-nav {
    margin: 0;
}

nav.main-nav ul li {
    height: 30px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    text-align: center;
}

nav.main-nav ul li a {
    color: #fff;
    text-transform: none;
    font-size: 18px;
    min-width: 80px;
    padding: 4px 0 15px;
}

nav.main-nav ul li a:hover {
    font-weight: normal;
}

nav.main-nav ul li.calc{
   border-bottom: solid #ffdc00 5px;
}

nav.main-nav ul li.admin{
   border-bottom: solid #ff0000 5px;
}

nav.main-nav ul li:hover{
    border-bottom: solid #fff 5px;
}

nav.main-nav ul li.calc form{
    margin: 0;
}

nav.main-nav ul li.calc label{
    padding: 4px 0 15px;
    margin: 0;
    font-size: 18px;
}

nav.main-nav ul li.tools {
   border-bottom: solid #eb737d 5px;
}

#license p{
    text-align: justify;
}

footer.footer {
    background: #bebebe;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    float: left;
    width: 80%;
    height: auto;
    padding-top: 0;
}

footer.footer form label {
    color: #fff;
}

#new-release-box {
    display: none;
}

#my-datastore {
    float: right;
}

#my-calculations.well {
    background-color: #f5f5f5;
}

#my-outputs.well {
    background-color: #f5f5f5;
}

.errorDialogLarge  {
     width: 90%;
     margin-left: -45%;
}

.table-disable-hover tbody tr:hover td,
.table-disable-hover tbody tr:hover th {
    background-color: inherit;
}

.table .table {
    background-color: inherit;
}

.table .table td,
.table .table th {
    border: 0;
}

.table-condensed {
    margin: 0;
}

.table-condensed tbody tr td,
.table-condensed tbody tr th {
     padding: 2px;
     border: 0;
     line-height: 12px;
     margin: 0px;
}
