body {
    color: #555;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2 {
    color: #1b75a7;
}

.content-wrap {
    padding-top: 10px;
    width: 1080px;
}
@media (min-width: 640px) and (max-width: 1120px) {
    .content-wrap {
        width: 90%;
    }
}

@media (min-width: 1070px) and (max-width: 1120px) {
    .table-aelo-form {
        width: 76%!important;
    }
    .table-aelo-form-2 {
        width: 63%!important;
    }
    .aelo-input-siteid {
        width: 277px!important;
    }
    .aelo-input {
        width: 170px;
    }
    .aelo-select {
        width: 184px!important;
    }
}

@media (min-width: 960px) and (max-width: 1069px) {
    .table-aelo-form {
        width: 85%!important;
    }
    .table-aelo-form-2 {
        width: 70%!important;
    }
    .aelo-input-siteid {
        width: 267px!important;
    }
    .aelo-input {
        width: 160px;
    }
    .aelo-select {
        width: 174px!important;
    }
}

@media (min-width: 760px) and (max-width: 959px) {
    .table-aelo-form {
        width: 100%!important;
    }
    .table-aelo-form-2 {
        width: 80%!important;
    }
    .aelo-input-siteid {
        width: 247px!important;
    }
    .aelo-input {
        width: 140px;
    }
    .aelo-select {
        width: 154px!important;
    }
}

@media (min-width: 640px) and (max-width: 759px) {
    .table-aelo-form {
        width: 100%!important;
    }
    .table-aelo-form-2 {
        width: 80%!important;
    }
    .aelo-input-siteid {
        width: 90%!important;
    }
    .aelo-input {
        width: 80%;
    }
    .aelo-select {
        width: 140px!important;
    }
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 100%;
}

.navbar .nav.account-bar {
    margin-top: 0;
}

.span12 {
    width: 100%;
    margin-left: 0;
}

.span10 {
    margin-top: 5px;
    width: 400px;
}

.span9 {
    position: absolute;
    width: auto;
    margin-left: 0;
    margin-right: 75px;
    float: right;
    right: 0;
}

.span3 {
    width: auto;
}

.navbar .navbar-inner {
    background-image: none;
    margin: 0;
    padding: 0;
}

.navbar .nav > li {
    font-size: 16px;
    padding: 0 5px;
}

.navbar .nav > li > a {
    color: #fff;
    text-shadow: none;
    font-size: 16px;
    padding: 0;
}

.navbar .nav.account-bar > li > a {
    padding-left: 0;
    padding-right: 0;
}

.nav-logo {
    /* background: url(/static/img/oq-logo-engine.png) no-repeat; */
    width: 300px;
    height: 40px;
    margin: 0;
}

#gem-right-logo {
    float: right;
    right: 0;
    position: absolute;

}

.nav-logo-gem {
    /* background: url(/static/img/oq-gem.png) no-repeat; */
    width: 72px;
    height: 40px;
    margin: 0;
}

.navbar .navbar-inner {
    /* background: url(/static/img/oq-header.png) no-repeat left top; */
    background-color: #1b75a5;
}

.navbar .nav > li.user {
    padding-top: 10px;
}

.navbar .nav > li.user > a:hover{
    text-decoration: underline;
}

nav.main-nav {
    margin: 0;
}

nav.main-nav ul li {
    height: 30px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    text-align: center;
}

nav.main-nav ul li a {
    color: #fff;
    text-transform: none;
    font-size: 18px;
    min-width: 80px;
    padding: 4px 0 15px;
}

nav.main-nav ul li a:hover {
    font-weight: normal;
}

nav.main-nav ul li.calc{
   border-bottom: solid #ffdc00 5px;
}

nav.main-nav ul li.admin{
   border-bottom: solid #ff0000 5px;
}

nav.main-nav ul li:hover{
    border-bottom: solid #fff 5px;
}

nav.main-nav ul li.calc form{
    margin: 0;
}

nav.main-nav ul li.calc label{
    padding: 4px 0 15px;
    margin: 0;
    font-size: 18px;
}

nav.main-nav ul li.tools {
   border-bottom: solid #eb737d 5px;
}

#license p{
    text-align: justify;
}

footer.footer {
    background: #bebebe;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    float: left;
    width: 80%;
    height: auto;
    color: rgb(0, 0, 0, 0.8);
    padding: 0.2rem 10%;
}

footer.footer form label {
    color: #fff;
}

footer.footer a {
    color: rgb(0, 0, 0, 0.8);
}

footer.footer .pull-left span {
    font-weight: bold;
}

#new-release-box {
    display: none;
}

#my-datastore {
    float: right;
}

#my-calculations.well {
    background-color: #f5f5f5;
}

#my-outputs.well {
    background-color: #f5f5f5;
}

.errorDialogLarge  {
     width: 90%;
     margin-left: -45%;
}

.table-disable-hover tbody tr:hover td,
.table-disable-hover tbody tr:hover th {
    background-color: inherit;
}

.table .table {
    background-color: inherit;
}

.table .table td,
.table .table th {
    border: 0;
}

.table-condensed {
    margin: 0;
}

.table-condensed tbody tr td,
.table-condensed tbody tr th {
     padding: 2px;
     border: 0;
     line-height: 12px;
     margin: 0px;
}

tr.asce_output {
    font-weight: bold;
}
.asce-key {
    font-weight: normal;
    float: left;
    width: 100px;
}
.asce-value {
    font-weight: normal;
    float: left;
}

.announcements-box {
    padding: 10px 20px 20px;
    background-color: #ff9800;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.announcement {
    margin: 0.5rem 0;
}

.announcement h2 {
    margin: 0!important;
    padding: 0;
    color: #fff;
    text-decoration: underline;
}

.aelo-input {
    width: 193px;
    vertical-align: top!important;
    height: 11px!important;
    padding-bottom: 10px!important;
}

.aelo-input-siteid {
    width: 300px;
}

.aelo-label {
    font-weight: bold;
}

.aelo-select {
    height: 33px!important;
    width: 207px;
}

.table-aelo-form {
    width: 70%;
    margin-bottom: 0;
}

.table-aelo-form-2 {
    width: 62%;
}

.table-aelo-form tr th,
.table-aelo-form-2 tr th {
    padding: 0;
}

.table-aelo-form td,
.table-aelo-form-2 td {
    width: 33.33333%;
    padding: 0;
    border-top: 0;
}

.impact_form_row label {
    margin-bottom: 10px;
}

.impact_form_row label {
    display: inline-block;
    width: 225px;
}

.impact_form_row input {
    /* width: calc(100% - 110px); /1* Adjust according to label width *1/ */
    box-sizing: border-box;
}

.impact-select {
    width: 206px;
}

.impact-input-wider {
    width: 618px;
}


/* customization of bootstrap button hover, to avoid turning to black */
.btn:hover, .btn:focus {
    color: #fff!important;
}

.btn {
    border: none!important;
}

.output-action-btn {
    width: 90px;
}

.my-pngs a, .outputs-general-btns-right a {
    width: 190px;
}
.my-pngs, .bottom-right-btns {
    margin-bottom: 3px;
}

.outputs-general-btns-left,
.outputs-general-btns-center,
.outputs-general-btns-right {
    width: calc(100% / 3);
    float: left;
    min-height: 100px;
    display: block;
}

.outputs-general-btns-left {
    text-align: left;
}

.outputs-general-btns-center {
    text-align: center;
}

.outputs-general-btns-right {
    text-align: right;
}

.calc-list-btn {
    width: 56px;
}

.impact-losses-container {
    width: 100%;
    display: block;
    overflow-x: scroll;
    position: relative;
}

table#impact-losses {
    border-collapse: collapse;
    width: 100%;
}

table#impact-losses th td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#impact-losses-download {
  margin-top: 10px;
}

.changelog {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
}
.changelog th, .changelog td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
.changelog th {
    background-color: #f2f2f2;
}

.changelog td:nth-child(1), .changelog th:nth-child(1) {
    width: 15%;
}
.changelog td:nth-child(2), .changelog th:nth-child(2) {
    width: 15%;
}
.changelog td:nth-child(3), .changelog th:nth-child(3) {
    width: 70%;
}

.shakemap-image-container {
    float: left;
    /* If we want to adjust the size of images instead of making them of the suitable size
    /* width: 50%; */
}

/* If we want to adjust the size of images instead of making them of the suitable size
/* .shakemap-image-container img{ */
/*     width: 600px; */
/* } */

.shakemap-clear-float {
    clear: both;
    margin-bottom: 30px;
}

/* Hide all form elements except the submit button */
.hidden_except_submit input:not([type="submit"]),
.hidden_except_submit select,
.hidden_except_submit textarea,
.hidden_except_submit button:not([type="submit"]),
.hidden_except_submit label {
  display: none;
}

.hidden {
    display: none;
}

#impact_approach {
  display: block;  /* each label in its own row */
  margin-bottom: 20px; /* Space between radio options */
}

input[type="radio"] {
  margin-right: 5px; /* Space between radio button and label text */
}

.station-btn {
    margin-left: 40px;
    margin-bottom: 8px;
}

#extracted_html_table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-top: 20px;
}

#extracted_html_table th,
#extracted_html_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

#extracted_html_table thead {
    background-color: #f4f4f4;
}

#extracted_html_table th {
    background-color: #1b75a7;
    color: white;
    font-weight: bold;
}

#extracted_html_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#extracted_html_table tr:hover {
    background-color: #f1f1f1;
}
