*.pyc
*.DS_Store
local_settings.py
docs/build/**/*
build
dist
.metadata/
build/**/*
build-stamp
dist/**/*
tests/data/test.tiff
tests/data/*.fake
tests/data/output
tests/data/output/**/*
tests/data/loss-curves.xml
tests/data/loss-ratio-curves.xml
tests/data/usgs-nshm
tests/data/usgs-nshm/**/*
*.tiff
openquake.db
coverage.ec
