*.pyc
*.DS_Store
local_settings.py
docs/build/**/*
build
.metadata/
build-stamp
tests/data/*.fake
tests/data/output
tests/data/output/**/*
tests/data/loss-curves.xml
tests/data/loss-ratio-curves.xml
tests/data/example-loss-curves-for-plotting.svg
tests/data/**/**/computed_output/*
openquake.engine.db
coverage.ec
*.rdb
*.log
*#*#
.#*
TAGS
dbinary.xml
.ropeproject
*_flymake.py
.coverage
last_test_run.log

