*.pyc
__pycache__
*.DS_Store
\#*\#
\.\#*
.coverage
*~
*_flymake.py
TAGS
build
build-deb
build-rpm
dist
*.so
*.noseids
*.egg-info
local_settings.py
openquake/server/tests/data/worldcities.csv
openquake/server/tests/data/countries_info.csv
openquake/server/tests/data/World_Adm1_updated.gpkg
openquake/server/tests/data/fonts.zip
openquake/server/tests/data/fonts/
demos/*/*.zip
*.swp
.tox
venv
*.whl
.vscode/
.ipynb_checkpoints/
