language: python
dist: xenial

python:
 - "3.6"

cache:
  pip: true
  directories:
  - wheels  

jobs:
  include:
  - stage: tests
    env: HAZARDLIB
    script:
        - if echo "$TRAVIS_COMMIT_MESSAGE" | grep -vq '\[skip hazardlib\]' || test "$BRANCH" == "master"; then
          pytest --doctest-modules -xv openquake/baselib --tb=short;
          pytest --doctest-modules -n auto -xv openquake/hazardlib openquake/hmtk --tb=short;
          fi
  - stage: tests
    env: ENGINE
    before_script:
        - oq dbserver start
    script:
        - pytest --doctest-modules -xv openquake/engine --tb=short
        - pytest --doctest-modules -xv openquake/server --tb=short
        - pytest --doctest-modules -xv openquake/calculators --tb=short
        - pytest --doctest-modules -xv openquake/risklib --tb=short
        - pytest --doctest-modules -xv openquake/commonlib --tb=short
        - pytest --doctest-modules -xv openquake/commands --tb=short
        - oq webui migrate
    after_success:  # old sphinx does not work well with Python 3.5.4+
        - pip install sphinx==1.6.5
        - cd doc/sphinx && make html && cd ../adv-manual && make html
        - if [[ "$BRANCH" == "master" ]]; then
            openssl aes-256-cbc -K $encrypted_806ab0daf95c_key -iv $encrypted_806ab0daf95c_iv -in $TRAVIS_BUILD_DIR/.deploy_rsa.enc -out $TRAVIS_BUILD_DIR/.deploy_rsa -d &&
            chmod 600 $TRAVIS_BUILD_DIR/.deploy_rsa &&
            eval $(ssh-agent -s) && ssh-add $TRAVIS_BUILD_DIR/.deploy_rsa &&
            rsync -e 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null' -ax --delete build/html/ docs@ci.openquake.org:/var/www/docs.openquake.org/oq-engine/advanced/;
          fi
    after_script:
        - oq reset -y; oq dbserver stop
  - stage: tests
    env: DEMOS
    script:
        # Upload oqdata.zip to http://artifacts.openquake.org/travis/ only if
        # the commit message includes a [demos] tag at the end or branch is master
        - if echo "$TRAVIS_COMMIT_MESSAGE" | grep -q '\[demos\]' || test "$BRANCH" == "master"; then
            OQ_DISTRIBUTE=zmq bin/run-demos.sh $TRAVIS_BUILD_DIR/demos &&
            oq dbserver stop &&
            oq dump /tmp/oqdata.zip &&
            oq restore /tmp/oqdata.zip /tmp/oqdata &&
            helpers/zipdemos.sh $(pwd)/demos &&
            openssl aes-256-cbc -K $encrypted_806ab0daf95c_key -iv $encrypted_806ab0daf95c_iv -in $TRAVIS_BUILD_DIR/.deploy_rsa.enc -out $TRAVIS_BUILD_DIR/.deploy_rsa -d &&
            chmod 600 $TRAVIS_BUILD_DIR/.deploy_rsa &&
            eval $(ssh-agent -s) && ssh-add $TRAVIS_BUILD_DIR/.deploy_rsa &&
            scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null /tmp/oqdata.zip travis@ci.openquake.org:/var/www/artifacts.openquake.org/travis/oqdata-${BRANCH}.zip &&
            oq workers stop;
          fi

before_install:
  - if [ "$TRAVIS_PULL_REQUEST_BRANCH" != "" ]; then BRANCH=$TRAVIS_PULL_REQUEST_BRANCH; else BRANCH=$TRAVIS_BRANCH; fi

install:
  # Use '[skip wheels]' to get dependencies from upstream pypi without using cached wheels;
  # this is needed to test that (max) requirements in setup.py are still valid.
  # Also pip does not cache data when requirements includes full http URLs, so we need
  # to download the wheels first, put the folder in cache and then install the wheels from there.
  # A second run of 'pip download' will download only the missing wheels.
  - if echo "$TRAVIS_COMMIT_MESSAGE" | grep -vq '\[skip wheels\]'; then
      pip download -r requirements-py36-linux64.txt -r requirements-extra-py36-linux64.txt -d wheels &&
      pip -q install wheels/* ;
    fi
  - pip install pytest-xdist
  - pip -q install -e .

before_script:
  - python -c'import platform; print(platform.platform()); import multiprocessing; print("#CPUs=%d" % multiprocessing.cpu_count())'

