sudo: false

language: python

python:
 - "3.6"

# FIXME temporarily disable cache
# cache:
#   pip: true
#   directories:
#   - wheels  

jobs:
  include:
  - stage: tests
    env: HAZARDLIB
    script:
        - if echo "$TRAVIS_COMMIT_MESSAGE" | grep -vq '\[skip hazardlib\]' || test "$BRANCH" == "master"; then
          nosetests --with-doctest -xvs -a'!slow' openquake.baselib openquake.hazardlib openquake.hmtk;
          fi
  - stage: tests
    env: ENGINE
    before_script:
        - oq dbserver start &
    script:
        - nosetests --with-doctest -xvs -a'!slow' openquake.engine
        - nosetests --with-doctest -xvs -a'!slow' openquake.server
        - nosetests --with-doctest -xvs -a'!slow' openquake.calculators
        - nosetests --with-doctest -xvs -a'!slow' openquake.risklib
        - nosetests --with-doctest -xvs -a'!slow' openquake.commonlib
        - nosetests --with-doctest -xvs -a'!slow' openquake.commands
        - oq webui migrate
    after_success:  # old sphinx does not work well with Python 3.5.4+
        - pip install sphinx==1.6.5 && cd doc/sphinx && make html
    after_script:
        - oq dbserver stop
  - stage: tests
    env: DEMOS
    script:
        # Upload oqdata.zip to http://artifacts.openquake.org/travis/ only if
        # the commit message includes a [demos] tag at the end or branch is master
        - if echo "$TRAVIS_COMMIT_MESSAGE" | grep -q '\[demos\]' || test "$BRANCH" == "master"; then
            time bin/run-demos.sh $TRAVIS_BUILD_DIR/demos &&
            oq dbserver stop &&
            oq dump /tmp/oqdata.zip &&
            oq restore /tmp/oqdata.zip /tmp/oqdata &&
            helpers/zipdemos.sh $(pwd)/demos &&
            openssl aes-256-cbc -K $encrypted_806ab0daf95c_key -iv $encrypted_806ab0daf95c_iv -in .deploy_rsa.enc -out .deploy_rsa -d &&
            chmod 600 .deploy_rsa &&
            eval $(ssh-agent -s) && ssh-add .deploy_rsa &&
            scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null /tmp/oqdata.zip travis@ci.openquake.org:/var/www/artifacts.openquake.org/travis/oqdata-${BRANCH}.zip &&
            oq workers stop &&
            oq reset --yes &&
            oq dbserver status | grep -q 'dbserver not-running';
          fi

before_install:
  - if [ "$TRAVIS_PULL_REQUEST_BRANCH" != "" ]; then BRANCH=$TRAVIS_PULL_REQUEST_BRANCH; else BRANCH=$TRAVIS_BRANCH; fi

install:
  # Use '[skip wheels]' to get dependencies from upstream pypi without using cached wheels;
  # this is needed to test that (max) requirements in setup.py are still valid.
  # Also pip does not cache data when requirements includes full http URLs, so we need
  # to download the wheels first, put the folder in cache and then install the wheels from there.
  # A second run of 'pip download' will download only the missing wheels.
  - if echo "$TRAVIS_COMMIT_MESSAGE" | grep -vq '\[skip wheels\]'; then
      pip download -r requirements-py36-linux64.txt -d wheels &&
      pip -q install wheels/* ;
    fi
  - pip -q install -e .

before_script:
  - python -c'import platform; print(platform.platform()); import multiprocessing; print("#CPUs=%d" % multiprocessing.cpu_count())'

