# Copyright (C) 2010-2016, GEM Foundation.
#
# OpenQuake is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# OpenQuake is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OpenQuake.  If not, see <http://www.gnu.org/licenses/>.

# THIS FILE WILL BE READ BY THE WORKER NODES IN A CLUSTER

[celery]
use_celery = true

[memory]
# above this quantity (in %) of memory used a warning will be printed
soft_mem_limit = 80
# above this quantity (in %) of memory used the job will be stopped
# use a lower value to protect against loss of control when OOM occurs
hard_mem_limit = 100

[amqp]
host = localhost
port = 5672
user = guest
password = guest
vhost = /
# This is where tasks will be enqueued.
celery_queue = celery

[dbserver]
host = localhost
port = 1999
authkey = changeme
