# Copyright (c) 2010-2014, GEM Foundation.
#
# OpenQuake is free software: you can redistribute it and/or modify it
# under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# OpenQuake is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OpenQuake.  If not, see <http://www.gnu.org/licenses/>.

[celery]
terminate_workers_on_revoke = true
# this is good for a single user situation, but turn this off on a cluster
# otherwise a CTRL-C will kill the computations of other users

terminate_job_when_celery_is_down = true
# this is good generally, but it may be necessary to turn it off in
# heavy computations (i.e. celery could not respond to pings and still
# not be really down).

# maximum number of tasks to spawn concurrently
concurrent_tasks = 64

[memory]
# above this quantity (in %) of memory used a warning will be printed
soft_mem_limit = 80
# above this quantity (in %) of memory used the job will be stopped
# use a lower value to protect against loss of control when OOM occurs
hard_mem_limit = 100

[amqp]
host = localhost
port = 5672
user = guest
password = guest
vhost = /
# This is where tasks will be enqueued.
celery_queue = celery

[database]
name = openquake2
host = localhost
port = 5432

admin_password = openquake
admin_user = oq_admin

job_init_password = openquake
job_init_user = oq_job_init

[hazard]
# point source weight is 1/40th of other sources in task-splitting algorithm
point_source_weight = 0.025

# maximum weight of the sources; 0 means no limit
# for a laptop, a good number is 200,000
max_input_weight = 0

# maximum size of the output in some units; 0 means no limit
# for a laptop, a good number is 2,000,000
max_output_weight = 0

# forbids the GMF export if the number of rows to be exported is too big;
# 0 means no limit; for a laptop a good number is 100,000
max_rows_export_gmfs = 0

[risk]
# change the following parameter to a smaller integer if you have
# memory issues with the epsilon matrix; beware however that you will
# introduce a stronger seed dependency
# epsilon_sampling = 0 means no sampling
epsilon_sampling = 1000
