https://wheelhouse.openquake.org/v3/linux/py312/rasterio-1.4.4-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/py/adjustText-1.3.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/mapclassify-2.10.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/reportlab-4.4.9-py3-none-any.whl
