# Suggested versions for development
# !! must update pip first! so wheels will be used !!

# GEM Mirror
# We also provide pre-compiled win_amd64 wheels for
# h5py, Shapely, psutil, Basemap
https://wheelhouse.openquake.org/v3/linux/py/setuptools-56.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/pytz-2019.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py37/h5py-3.1.0-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/setproctitle-1.2.2-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/numpy-1.18.2-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/scipy-1.4.1-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/pandas-1.1.5-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/pyzmq-19.0.0-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/psutil-5.6.3-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/Shapely-1.7.1-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py/docutils-0.14-py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/decorator-4.4.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/pbr-5.2.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/six-1.12.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/sqlparse-0.3.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/certifi-2019.3.9-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/chardet-3.0.4-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/idna-2.8-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/urllib3-1.25.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/requests-2.22.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/pyshp-1.2.3-py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/toml-0.10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/Django-3.2.6-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/asgiref-3.4.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/django_pam-2.0.1-py2.py3-none-any.whl

### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
https://wheelhouse.openquake.org/v3/windows/py/python_dateutil-2.8.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/pyparsing-2.4.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/cycler-0.10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py37/kiwisolver-1.1.0-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/matplotlib-3.1.2-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/pyproj-2.1.3-cp37-cp37m-win_amd64.whl
#
https://wheelhouse.openquake.org/v3/windows/py37/GDAL-3.2.2-cp37-cp37m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py37/Fiona-1.8.19-cp37-cp37m-win_amd64.whl
