# Suggested versions for development
# !! must update pip first! so wheels will be used !!

# GEM Mirror
# We also provide pre-compiled manylinux1 wheels for
# h5py, Shapely, psutil

https://wheelhouse.openquake.org/v3/linux/py/pytz-2019.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/setuptools-41.0.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py38/h5py-2.10.0-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py38/numpy-1.18.2-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py38/scipy-1.4.1-cp38-cp38-manylinux1_x86_64.whl 
https://wheelhouse.openquake.org/v3/linux/py38/pandas-1.0.3-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py38/pyzmq-19.0.0-cp38-cp38-manylinux1_x86_64.whl 
https://wheelhouse.openquake.org/v3/linux/py38/psutil-5.6.7-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py38/Shapely-1.7.0-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py/docutils-0.14-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/decorator-4.4.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/pbr-5.2.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/six-1.12.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/Django-2.2.7-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/sqlparse-0.3.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/certifi-2019.3.9-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/chardet-3.0.4-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/idna-2.8-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/urllib3-1.25.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/requests-2.22.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/pyshp-1.2.3-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/toml-0.10.0-py2.py3-none-any.whl

### Celery ###
# comment the following lines to skip installation
# of celery (optional feature)
https://wheelhouse.openquake.org/v3/linux/py/vine-1.3.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/amqp-2.4.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/kombu-4.5.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/billiard-3.6.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/celery-4.3.0-py2.py3-none-any.whl

### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
https://wheelhouse.openquake.org/v3/linux/py/python_dateutil-2.8.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/pyparsing-2.4.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/cycler-0.10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py38/kiwisolver-1.1.0-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py38/matplotlib-3.1.2-cp38-cp38-manylinux1_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py38/pyproj-2.5.0-cp38-cp38-manylinux1_x86_64.whl

### GDAL ###
https://wheelhouse.openquake.org/v3/linux/py38/GDAL-3.1.2-cp38-cp38-manylinux2014_x86_64.whl
