# Suggested versions for development
# !! must update pip first! so wheels will be used !!
#
https://wheelhouse.openquake.org/v3/windows/py39/pandas-2.0.3-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/pyzmq-25.1.1-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/kiwisolver-1.4.5-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/setproctitle-1.3.3-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/h5py-3.10.0-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/shapely-2.0.2-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/Pillow-10.1.0-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/llvmlite-0.41.1-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/numba-0.58.1-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/contourpy-1.2.0-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/numpy-1.26.2-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/matplotlib-3.8.2-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/scipy-1.11.4-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/onnxruntime-1.16.3-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/psutil-5.9.6-cp39-abi3-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/fiona-1.9.5-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/GDAL-3.7.3-cp39-cp39-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py39/pyproj-3.6.1-cp39-cp39-win_amd64.whl
#pp
https://wheelhouse.openquake.org/v3/py/alpha_shapes-1.1.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/asgiref-3.7.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/attrs-23.1.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/certifi-2023.11.17-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/chardet-5.2.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/click-8.1.7-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/click_plugins-1.1.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/cligj-0.7.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/coloredlogs-15.0.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/cycler-0.12.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/decorator-5.1.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/Django-3.2.23-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/django_pam-2.1.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/docutils-0.20.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/flake8-6.1.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/flatbuffers-23.5.26-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/fonttools-4.39.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/humanfriendly-10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/idna-3.6-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/importlib_metadata-7.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/iniconfig-2.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/mccabe-0.7.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/mpmath-1.3.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/munch-4.0.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/networkx-3.2.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/packaging-23.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pbr-6.0.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pluggy-1.3.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/protobuf-4.25.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pycodestyle-2.11.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pyflakes-3.1.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pyparsing-3.1.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pyreadline3-3.4.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pyshp-2.3.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/python_dateutil-2.8.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/python_pam-2.0.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pytz-2023.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/requests-2.31.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/setuptools-69.0.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/six-1.16.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/sqlparse-0.4.4-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/sympy-1.12-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/toml-0.10.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/tzdata-2023.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/urllib3-2.1.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/zipp-3.17.0-py3-none-any.whl
