# Suggested versions for development based on
# Ubuntu 18.04 stack
# !! must update pip first! so wheels will be used !!

# GEM Mirror
# We also provide pre-compiled manylinux1 wheels for
# h5py, Shapely, psutil, Rtree, PyYAML, Basemap

http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/pytz-2018.3-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/setuptools-39.0.1-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/mock-2.0.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/h5py-2.8.0rc1-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/nose-1.3.7-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/numpy-1.14.2-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/scipy-1.0.1-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/pyzmq-16.0.4-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/psutil-5.4.3-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/Shapely-1.6.4.post1-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/docutils-0.14-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/decorator-4.2.1-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/pbr-4.0.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/six-1.11.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/Django-2.0.4-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/certifi-2018.1.18-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/urllib3-1.22-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/chardet-3.0.4-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/idna-2.6-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/requests-2.18.4-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/pyshp-1.2.3-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/PyYAML-3.12-cp35-cp35m-manylinux1_x86_64.whl

## Extra ##

### setproctitle ###
# comment the following lines to skip installation
# of setproctitle (optional feature)
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/setproctitle-1.1.10-cp35-cp35m-manylinux1_x86_64.whl

### python-prctl ###
# comment the following lines to skip installation
# of python-prctl (optional feature)
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/python_prctl-1.6.1-cp35-cp35m-manylinux1_x86_64.whl

### Rtree ###
# comment the following lines to skip installation
# of Rtree (experimental wheel, optional feature)
# FIXME
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/Rtree-0.8.2-cp35-cp35m-manylinux1_x86_64.whl

### Celery ###
# comment the following lines to skip installation
# of celery (optional feature)
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/vine-1.1.4-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/amqp-2.2.2-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/kombu-4.1.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/celery-4.1.0-py2.py3-none-any.whl

### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/python_dateutil-2.7.2-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/pyparsing-2.2.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/staging/cycler-0.10.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/matplotlib-2.1.2-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/pyproj-1.9.5.1-cp35-cp35m-manylinux1_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py35/staging/basemap-1.1.0.n14-cp35-cp35m-manylinux1_x86_64.whl
