# Suggested versions for development based on
# Ubuntu 16.04 stack
# !! these are meant to be used with Apple shipped python !!
# !!    must update pip first! so wheels will be used     !!

# GEM Mirror

http://cdn.ftp.openquake.org/wheelhouse/macos/py/setuptools-28.8.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/pkgconfig-1.1.0-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/mock-1.3.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/h5py-2.7.0-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/nose-1.3.7-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/numpy-1.11.3-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/scipy-0.17.1-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/pyzmq-16.0.2-cp35-cp35m-macosx_10_6_intel.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/psutil-4.4.2-cp35-cp35m-macosx_10_6_intel.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/Shapely-1.5.17.post1-cp35-cp35m-macosx_10_6_intel.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/docutils-0.12-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/decorator-4.0.11-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/funcsigs-1.0.2-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/pbr-1.8.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/six-1.10.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/Django-1.8.17-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py/requests-2.9.1-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/pyshp-1.2.3-py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/PyYAML-3.12-cp35-cp35m-macosx_10_6_intel.whl

## Extra ##

### setproctitle ###
# comment the following lines to skip installation
# of setproctitle (optional feature)
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/setproctitle-1.1.10-cp35-cp35m-macosx_10_6_intel.whl

### Rtree wheel is not currently available for macOS ###

### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/matplotlib-1.5.3-cp35-cp35m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/pyparsing-2.1.10-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/python_dateutil-2.6.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/linux/py/cycler-0.10.0-py2.py3-none-any.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/pyproj-1.9.5.1-cp35-cp35m-macosx_10_6_intel.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py35/basemap-1.1.0-cp35-cp35m-macosx_10_6_intel.whl
