# Suggested versions for development based on
# Ubuntu 18.04 stack
# !! must update pip first! so wheels will be used !!

# GEM Mirror
# We also provide pre-compiled macosx_10_9_x86_64 wheels for
# h5py, Shapely, psutil, PyYAML, Basemap

http://wheelhouse.openquake.org/v2/macos/py/pytz-2018.3-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/setuptools-39.0.1-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py36/h5py-2.9.0-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://wheelhouse.openquake.org/v2/macos/py/nose-1.3.7-py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py36/numpy-1.16.5-cp36-cp36m-macosx_10_9_x86_64.whl
http://wheelhouse.openquake.org/v2/macos/py36/scipy-1.3.1-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://wheelhouse.openquake.org/v2/macos/py36/pyzmq-17.0.0-cp36-cp36m-macosx_10_6_intel.whl
http://wheelhouse.openquake.org/v2/macos/py36/psutil-5.4.3-cp36-cp36m-macosx_10_6_intel.whl
http://wheelhouse.openquake.org/v2/macos/py36/Shapely-1.6.4.post1-cp36-cp36m-macosx_10_9_intel.macosx_10_9_x86_64.whl
http://wheelhouse.openquake.org/v2/macos/py/docutils-0.14-py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/decorator-4.3.0-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/pbr-4.0.0-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/six-1.11.0-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/Django-2.0.4-py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/certifi-2018.1.18-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/urllib3-1.22-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/chardet-3.0.4-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/idna-2.6-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/requests-2.20.0-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/pyshp-1.2.3-py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py36/PyYAML-3.12-cp36-cp36m-macosx_10_6_intel.whl
http://wheelhouse.openquake.org/v2/macos/py/toml-0.10.0-py2.py3-none-any.whl

### setproctitle ###
# comment the following lines to skip installation
# of setproctitle (optional feature)
http://wheelhouse.openquake.org/v2/macos/py36/setproctitle-1.1.10-cp36-cp36m-macosx_10_6_intel.whl

### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
http://wheelhouse.openquake.org/v2/macos/py/python_dateutil-2.7.2-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/pyparsing-2.2.0-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py/cycler-0.10.0-py2.py3-none-any.whl
http://wheelhouse.openquake.org/v2/macos/py36/matplotlib-2.1.2-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl
http://wheelhouse.openquake.org/v2/macos/py36/pyproj-1.9.5.1-cp36-cp36m-macosx_10_6_intel.whl
