# Suggested versions for development based on
# Ubuntu 18.04 stack
# !! must update pip first! so wheels will be used !!

# GEM Mirror
# We also provide pre-compiled win_amd64 wheels for
# h5py, Shapely, psutil
https://wheelhouse.openquake.org/v2/linux/py/setuptools-56.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py/pytz-2019.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/windows/py36/h5py-3.1.0-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py36/setproctitle-1.2.2-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/numpy-1.18.2-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/scipy-1.4.1-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/pandas-1.1.5-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/pyzmq-19.0.0-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/psutil-5.4.3-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/Shapely-1.7.1-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py/docutils-0.14-py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/decorator-4.4.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/pbr-5.2.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/six-1.12.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/sqlparse-0.3.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/certifi-2019.3.9-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/urllib3-1.25.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/chardet-3.0.4-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/idna-2.8-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/requests-2.22.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/pyshp-1.2.3-py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/toml-0.10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/Django-3.2.6-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/asgiref-3.4.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/linux/py/django_pam-2.0.1-py2.py3-none-any.whl


### Plotting ###
# comment the following lines to skip installation
# of the plotting libraries (optional feature)
https://wheelhouse.openquake.org/v3/windows/py/python_dateutil-2.8.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/pyparsing-2.4.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py/cycler-0.10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v2/windows/py36/kiwisolver-1.1.0-cp36-none-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/matplotlib-3.1.2-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/pyproj-2.5.0-cp36-cp36m-win_amd64.whl
#
https://wheelhouse.openquake.org/v2/windows/py36/GDAL-3.1.4-cp36-cp36m-win_amd64.whl
https://wheelhouse.openquake.org/v2/windows/py36/Fiona-1.8.18-cp36-cp36m-win_amd64.whl

