asgiref==3.4.1
attrs==22.1.0
certifi==2023.11.17
chardet==3.0.4
click==8.1.3
click-plugins==1.0.4
cligj==0.7.2
coloredlogs==15.0.1
contourpy==1.2.0
cycler==0.10.0
decorator==4.4.2
Django==3.2.23
django-pam==2.0.1
docutils==0.14
flake8==6.1.0
flatbuffers==23.5.26
fonttools==4.38.0
h5py==3.10.0
humanfriendly==10.0
idna==2.8
importlib-metadata==6.8.0
iniconfig==2.0.0
kiwisolver==1.4.4
llvmlite==0.41.1
matplotlib==3.8.1
mccabe==0.7.0
mpmath==1.3.0
munch==2.5.0
networkx==2.8.2
numba==0.58.1
numpy==1.26.1
onnxruntime==1.16.0
packaging==21.3
pandas==2.0.3
pbr==5.2.0
Pillow==10.1.0
pip==23.3.1
pluggy==1.3.0
protobuf==4.24.3
psutil==5.9.2
pycodestyle==2.11.1
pyflakes==3.1.0
pyparsing==2.4.0
pyreadline3==3.4.1
pyshp==2.3.1
pytest==7.4.3
python-dateutil==2.8.2
python-pam==1.8.4
pytz==2022.1
pyzmq==25.1.1
requests==2.31.0
scipy==1.11.3
setproctitle==1.3.2
setuptools==69.0.2
shapely==2.0.1
six==1.12.0
sqlparse==0.4.4
sympy==1.12
toml==0.10.2
tzdata==2023.3
urllib3==2.1.0
zipp==3.10.0
https://wheelhouse.openquake.org/v3/windows/py311/pyproj-3.6.1-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/GDAL-3.7.3-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py311/fiona-1.9.5-cp311-cp311-win_amd64.whl
https://wheelhouse.openquake.org/v3/py/alpha_shapes-1.1.0-py3-none-any.whl
