# Suggested versions for development
# !! must update pip first! so wheels will be used !!

# GEM Mirror
#
https://wheelhouse.openquake.org/v3/windows/py310/onnxruntime-1.16.0-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/scipy-1.8.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/h5py-3.7.0-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/Pillow-9.2.0-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/kiwisolver-1.4.4-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/matplotlib-3.5.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/setproctitle-1.3.2-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pyzmq-23.2.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/GDAL-3.4.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/Fiona-1.8.21-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/llvmlite-0.39.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/numba-0.56.2-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/psutil-5.9.2-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/numpy-1.23.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pyproj-3.4.0-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/numba-0.56.2-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/llvmlite-0.39.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pandas-2.0.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/shapely-2.0.1-cp310-cp310-win_amd64.whl
#
#python
https://wheelhouse.openquake.org/v3/py/python_dateutil-2.8.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pyparsing-2.4.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/cycler-0.10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/docutils-0.14-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/decorator-4.4.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pbr-5.2.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/six-1.12.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/sqlparse-0.3.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/certifi-2019.3.9-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/chardet-3.0.4-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/idna-2.8-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/urllib3-1.25.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/requests-2.22.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/toml-0.10.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/asgiref-3.4.1-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/django_pam-2.0.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/python_pam-1.8.4-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/networkx-2.8.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/setuptools-59.8.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/click_plugins-1.0.4-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/pytz-2022.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/munch-2.5.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/attrs-22.1.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/cligj-0.7.2-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/click-8.1.3-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/packaging-21.3-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/fonttools-4.38.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/importlib_metadata-5.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/zipp-3.10.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/Django-3.2.21-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/tzdata-2023.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/coloredlogs-15.0.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/flatbuffers-23.5.26-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/sympy-1.12-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/humanfriendly-10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/mpmath-1.3.0-py3-none-any.whl
https://wheelhouse.openquake.org/v3/py/protobuf-4.24.3-py3-none-any.whl