# Suggested versions for development
# !! must update pip first! so wheels will be used !!
# GEM Mirror
https://wheelhouse.openquake.org/unified/cffi-1.17.1-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/charset_normalizer-3.4.0-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/contourpy-1.3.2-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/fiona-1.10.1-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/gdal-3.11.4-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/h3-4.4.1-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/h5py-3.13.0-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/kiwisolver-1.4.7-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/llvmlite-0.49.0-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/matplotlib-3.10.1-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/numba-0.67.0-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/numpy-2.4.6-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/onnxruntime-1.23.2-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/pandas-2.2.3-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/pillow-12.2.0-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/psutil-7.2.2-cp37-abi3-win_amd64.whl
https://wheelhouse.openquake.org/unified/pyogrio-0.11.1-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/pyproj-3.7.2-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/pyzmq-26.2.0-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/scipy-1.17.1-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/setproctitle-1.3.7-cp313-cp313-win_amd64.whl
https://wheelhouse.openquake.org/unified/shapely-2.1.0-cp313-cp313-win_amd64.whl
#
#pp
https://wheelhouse.openquake.org/unified/alpha_shapes-1.1.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/asgiref-3.11.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/attrs-23.1.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/certifi-2026.4.22-py3-none-any.whl
https://wheelhouse.openquake.org/unified/chardet-5.2.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/click-8.1.7-py3-none-any.whl
https://wheelhouse.openquake.org/unified/click_plugins-1.1.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/cligj-0.7.2-py3-none-any.whl
https://wheelhouse.openquake.org/unified/coloredlogs-15.0.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/cycler-0.12.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/decorator-5.1.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/django-4.2.30-py3-none-any.whl
https://wheelhouse.openquake.org/unified/django_appconf-1.0.6-py3-none-any.whl
https://wheelhouse.openquake.org/unified/django_cookie_consent-0.6.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/django_cors_headers-4.3.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/django_pam-2.1.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/flake8-6.1.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/flatbuffers-25.12.19-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/fonttools-4.60.2-py3-none-any.whl
https://wheelhouse.openquake.org/unified/geopandas-1.1.3-py3-none-any.whl
https://wheelhouse.openquake.org/unified/humanfriendly-10.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/idna-3.15-py3-none-any.whl
https://wheelhouse.openquake.org/unified/importlib_metadata-7.0.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/iniconfig-2.3.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/mccabe-0.7.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/mpmath-1.3.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/munch-4.0.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/networkx-3.2.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/packaging-26.2-py3-none-any.whl
https://wheelhouse.openquake.org/unified/pbr-6.0.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/pluggy-1.6.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/protobuf-5.29.6-py3-none-any.whl
https://wheelhouse.openquake.org/unified/pycodestyle-2.11.1-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/pycparser-2.22-py3-none-any.whl
https://wheelhouse.openquake.org/unified/pyflakes-3.1.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/pyparsing-3.1.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/pytest-9.0.3-py3-none-any.whl
https://wheelhouse.openquake.org/unified/python_dateutil-2.8.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/python_pam-2.0.2-py3-none-any.whl
https://wheelhouse.openquake.org/unified/pytz-2023.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/requests-2.33.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/setuptools-79.0.1-py3-none-any.whl
https://wheelhouse.openquake.org/unified/six-1.16.0-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/sqlparse-0.5.5-py3-none-any.whl
https://wheelhouse.openquake.org/unified/sympy-1.12-py3-none-any.whl
https://wheelhouse.openquake.org/unified/toml-0.10.2-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/tzdata-2023.3-py2.py3-none-any.whl
https://wheelhouse.openquake.org/unified/urllib3-2.7.0-py3-none-any.whl
https://wheelhouse.openquake.org/unified/zipp-3.19.1-py3-none-any.whl
# Added at branch updatedeps
https://wheelhouse.openquake.org/unified/pygments-2.20.0-py3-none-any.whl
