body {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#333;
	margin:0;
	padding:0;
}
h1 {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size:26px;
	color:#083772;
	letter-spacing:-1px;
	font-weight:normal;
	background:#eee;
	padding:15px 20px;
	border-bottom:1px solid #ccc;
}
h2 {
	font-size: 18px;
	line-height:18px;
	color:#083772;
	margin-bottom:15px;
	font-weight:normal;
}
p {
	margin:10px 20px;
	line-height:18px;
}
input {
	margin: 8px 20px;
}
 
ul#list-nav {
list-style:none;
margin:74px;
padding:0;
width:525px
}

ul#list-nav li {
display:inline
}

ul#list-nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background:#15428B;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list-nav li a:hover {
background:#a2b3a1;
color:#000
}
 
#banner2
{
background : url(images/HEADEROpenGEM_dyn-part2.png);
background-repeat:repeat-x;
z-index: 1;
position: absolute;
top: 0px;
left: 0px;}

}
#content {
	margin-left:15px;
}
#myDiv {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:200px;
	text-align:center;
}
.red {
	color: red;
}