{% extends "engine/base.html" %}

  <title>{% block title %}AELO changelog{% endblock %}</title>

  {% block main %}
  {{ block.super }}
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div id="oq-body-wrapper">
          <div class="span12">
            <div id="aelo_release_details">
            <h2 style="text-align: center;">AELO changelog</h3>
            {{ aelo_changelog | safe  }}
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </div>
  {% endblock main %}

  {% block extra_script %}
  {% endblock extra_script %}
