{% extends "engine/base.html" %}

  {% block nav-items %}
                {% if application_mode != 'AELO' and application_mode != 'ARISTOTLE' and application_mode != 'READ_ONLY' %}
                <li class="calc">
                  <form class="calc-form form-horizontal"
                        enctype="multipart/form-data"
                        method="post" action="{{ oq_engine_server_url }}/v1/calc/run">
                    <input type="hidden" name="calculation_type" value="hazard"/>
                    <label for="hazard_archive">Run a Calculation</label>
                    <input id="hazard_archive" type="file" name="archive" style="display: none;" />
                    <input type="hidden" name="database" value="openquake2"/>
                  </form>
                </li>
                {% endif %}
  {% endblock nav-items %}

  {% block main %}
  {{ block.super }}
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div id="oq-body-wrapper">
          <div id="new-release-box" class="alert alert-warning">
          </div>
          {% if application_mode == 'AELO' %}
          <div class="span12">
            <h2>Run an AELO calculation</h2>
            {% if not user.email %}
            <h3>
              WARNING: no email address is speficied for your user account, therefore email notifications will be disabled
            </h3>
            {% endif %}
            <form id="aelo_run_form" method="post">
              {% csrf_token %}
              <table class="table-aelo-form table">
                <thead>
                  <tr>
                    <th><label class="aelo-label" for"lat">{{ aelo_form_labels.lat }}</label></th>
                    <th><label class="aelo-label" for"lon">{{ aelo_form_labels.lon }}</label></th>
                    <th><label class="aelo-label" for"vs30">{{ aelo_form_labels.vs30 }}</label></th>
                    <th><label class="aelo-label" for"siteid">{{ aelo_form_labels.siteid }}</label></th>
                    <th><label class="aelo-label" for="asce_version">{{ aelo_form_labels.asce_version }}</label></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input class="aelo-input" type="text" id="lat" name="lat" placeholder="{{ aelo_form_placeholders.lat }}"/></td>
                    <td><input class="aelo-input" type="text" id="lon" name="lon" placeholder="{{ aelo_form_placeholders.lon }}"/></td>
                    <td><input class="aelo-input" type="text" id="vs30" name="vs30" placeholder="{{ aelo_form_placeholders.vs30 }}" readonly /></td>
                    <td><input class="aelo-input" type="text" id="siteid" name="siteid" placeholder="{{ aelo_form_placeholders.siteid }}"/></td>
                    <td>
                        <select class="aelo-select" name="asce_version" id="asce_version">
                        {% for asce_version in asce_versions %}
                        {% if asce_version == default_asce_version %}
                        <option value="{{ asce_version }}" selected>{{ asce_version }}</option>
                        {% else %}
                        <option value="{{ asce_version }}">{{ asce_version }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button id="submit_aelo_calc" type="submit" class="btn">Submit</button>
              <!-- <input type="submit"> -->
            </form>
          </div>
          {% elif application_mode == 'ARISTOTLE' %}
          <div class="span12">
            <h2>Run an ARISTOTLE calculation</h2>
            {% if not user.email %}
            <h3>
              WARNING: no email address is speficied for your user account, therefore email notifications will be disabled
            </h3>
            {% endif %}
            <form id="aristotle_get_rupture_form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="aristotle_form_row">
                <label for"usgs_id">{{ aristotle_form_labels.usgs_id }}</label>
                <input class="aristotle-input" type="text" id="usgs_id" name="usgs_id" placeholder="{{ aristotle_form_placeholders.usgs_id }}" value="{{ aristotle_default_usgs_id }}"/>
              </div>
              <div class="aristotle_form_row">
                <label for"rupture_file_from_usgs">{{ aristotle_form_labels.rupture_file_from_usgs }}</label>
                <input class="aristotle-input" type="hidden" id="rupture_file_from_usgs" name="rupture_data_file_from_usgs" placeholder="{{ aristotle_form_placeholders.rupture_file_from_usgs }}" disabled />
                <input class="aristotle-input" type="text" id="rupture_file_from_usgs_loaded" name="rupture_file_from_usgs_loaded" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"rupture_file">{{ aristotle_form_labels.rupture_file }}</label>
                <input class="aristotle-input" type="file" id="rupture_file_input" name="rupture_file" placeholder="{{ aristotle_form_placeholders.rupture_file }}" >
                <button type="button" id="clearRuptureFile">Clear File</button>
              </div>
              <div class="aristotle_form_row">
                <button id="submit_aristotle_get_rupture" type="submit" class="btn">Retrieve rupture data</button>
                <!-- <input type="submit"> -->
              </div>
            </form>
            <form id="aristotle_run_form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="aristotle_form_row">
                <label for"lon">{{ aristotle_form_labels.lon }}</label>
                <input class="aristotle-input" type="text" id="lon" name="lon" placeholder="{{ aristotle_form_placeholders.lon }}" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"lat">{{ aristotle_form_labels.lat }}</label>
                <input class="aristotle-input" type="text" id="lat" name="lat" placeholder="{{ aristotle_form_placeholders.lat }}" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"dep">{{ aristotle_form_labels.dep }}</label>
                <input class="aristotle-input" type="text" id="dep" name="dep" placeholder="{{ aristotle_form_placeholders.dep }}" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"mag">{{ aristotle_form_labels.mag }}</label>
                <input class="aristotle-input" type="text" id="mag" name="mag" placeholder="{{ aristotle_form_placeholders.mag }}" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"rake">{{ aristotle_form_labels.rake }}</label>
                <input class="aristotle-input" type="text" id="rake" name="rake" placeholder="{{ aristotle_form_placeholders.rake }}" disabled />
              </div>
              <input class="aristotle-input" type="hidden" id="is_point_rup" name="is_point_rup"/>
              <div class="aristotle_form_row">
                <label for="trt">{{ aristotle_form_labels.trt }}</label>
                <select name="trt" id="trt" class="aristotle-select">
                </select>
              </div>
              <div class="aristotle_form_row">
                <label for"dip">{{ aristotle_form_labels.dip }}</label>
                <input class="aristotle-input" type="text" id="dip" name="dip" placeholder="{{ aristotle_form_placeholders.dip }}" value="90"/>
              </div>
              <div class="aristotle_form_row">
                <label for"strike">{{ aristotle_form_labels.strike }}</label>
                <input class="aristotle-input" type="text" id="strike" name="strike" placeholder="{{ aristotle_form_placeholders.strike }}" value="0"/>
              </div>
              <div class="aristotle_form_row">
                <label for"local_timestamp">{{ aristotle_form_labels.local_timestamp }}</label>
                <input class="aristotle-input" type="text" id="local_timestamp" name="local_timestamp" placeholder="{{ aristotle_form_placeholders.local_timestamp }}" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"time_event">{{ aristotle_form_labels.time_event }}</label>
                <select id="time_event" name="time_event" class="aristotle-select">
                    <option value="day">Day</option>
                    <option value="night">Night</option>
                    <option value="transit">Transit</option>
                </select>
              </div>
              <div class="aristotle_form_row">
                <label for"maximum_distance">{{ aristotle_form_labels.maximum_distance }}</label>
                <input class="aristotle-input" type="text" id="maximum_distance" name="maximum_distance" placeholder="{{ aristotle_form_placeholders.maximum_distance }}" value="100"/>
              </div>
              <div class="aristotle_form_row">
                <label for"truncation_level">{{ aristotle_form_labels.truncation_level }}</label>
                <input class="aristotle-input" type="text" id="truncation_level" name="truncation_level" placeholder="{{ aristotle_form_placeholders.truncation_level }}" value="3"/>
              </div>
              <div class="aristotle_form_row">
                <label for"number_of_ground_motion_fields">{{ aristotle_form_labels.number_of_ground_motion_fields }}</label>
                <input class="aristotle-input" type="text" id="number_of_ground_motion_fields" name="number_of_ground_motion_fields" placeholder="{{ aristotle_form_placeholders.number_of_ground_motion_fields }}" value="100"/>
              </div>
              <div class="aristotle_form_row">
                <label for"asset_hazard_distance">{{ aristotle_form_labels.asset_hazard_distance }}</label>
                <input class="aristotle-input" type="text" id="asset_hazard_distance" name="asset_hazard_distance" placeholder="{{ aristotle_form_placeholders.asset_hazard_distance }}" value="15"/>
              </div>
              <div class="aristotle_form_row">
                <label for"ses_seed">{{ aristotle_form_labels.ses_seed }}</label>
                <input class="aristotle-input" type="text" id="ses_seed" name="ses_seed" placeholder="{{ aristotle_form_placeholders.ses_seed }}" value="42"/>
              </div>
              <div class="aristotle_form_row">
                <label for"station_data_file_from_usgs">{{ aristotle_form_labels.station_data_file_from_usgs }}</label>
                <input class="aristotle-input" type="hidden" id="station_data_file_from_usgs" name="station_data_file_from_usgs" placeholder="{{ aristotle_form_placeholders.station_data_file_from_usgs }}" disabled />
                <input class="aristotle-input" type="text" id="station_data_file_from_usgs_loaded" name="station_data_file_from_usgs_loaded" disabled />
              </div>
              <div class="aristotle_form_row">
                <label for"station_data_file">{{ aristotle_form_labels.station_data_file }}</label>
                <input class="aristotle-input" type="file" id="station_data_file_input" name="station_data_file" placeholder="{{ aristotle_form_placeholders.station_data_file }}" >
                <button type="button" id="clearStationDataFile">Clear File</button>
              </div>
              <div class="aristotle_form_row">
                <label for"maximum_distance_stations">{{ aristotle_form_labels.maximum_distance_stations }}</label>
                <input class="aristotle-input" type="text" id="maximum_distance_stations" name="maximum_distance_stations" placeholder="{{ aristotle_form_placeholders.maximum_distance_stations }}" value="" disabled/>
              </div>
              <div class="aristotle_form_row">
                <button id="submit_aristotle_calc" type="submit" class="btn">Submit</button>
                <!-- <input type="submit"> -->
              </div>
            </form>
          </div>
          {% endif %}
          <div class="span12">
            <h2>List of calculations{% if server_name %} from {{ server_name }}{% endif %}</h2>
            <div id="my-calculations" class="well"></div>
          </div>
        </div>
      </div>
    </div> <!-- /.container -->
  </div>
  {% endblock main %}

  {% block templates %}
  <script type="text/template" id="calculation-table-template">
    <table id="calculation_table" class="table table-hover">
      <thead>
        <tr>
          <th style="width: 50px;">ID</th>
          <th style="width: 100px;">User</th>
          <th style="width: 100px;">Calculation</th>
          <th style="width: 280px;">Description</th>
          <th style="width: 100px;">Start time</th>
          <th style="width: 70px;">Status</th>
          <th style="width: 150px;">Action</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(calculations, function(calc) { %>
        <% if (calc.get('status') == 'deleted') { return 0; } %>
        <tr class="<%= (calc.get('status') == 'created' || calc.get('is_running') == true) ? 'warning' : (calc.get('status') == 'complete' ? 'success' : 'error') %>">
          <td><%= calc.get('id') || 'New' %></td>
          <td><%= calc.get('owner') %></td>
          <td><%= calc.get('calculation_mode') %></td>
          <td><%= calc.get('description') %></td>
          <td><%= calc.get('start_time') %></td>
          <td>
            <% if (calc.get('status') == 'created' || calc.get('status') == 'complete' || calc.get('is_running') == true) { %>
              <%= calc.get('status') %>
            <% } else { %>
              failed<br>( <%= calc.get('status') %> )
            <% } %>
          </td>
          <td>
            <% if (calc.get('status') != 'created') { %>
              <a href="#" data-calc-id="<%= calc.get('id') %>" is-running="<%= calc.get('is_running') %>" class="btn btn-sm btn-log calc-list-btn" style="margin: 2px 0 2px 0;">Console</a>
              <% if (calc.get('is_running') == false) { %>
                {% if application_mode != 'READ_ONLY' %}
                <a href="#" data-calc-id="<%= calc.get('id') %>" class="btn btn-sm btn-danger calc-list-btn" style="margin: 2px 0 2px 0;">Remove</a>
                <!-- confirm_modal -->
                <div class="modal-backdrop in hide back_confirmDialog<%= calc.get('id') %>"></div>
                <div id="confirmDialog<%= calc.get('id') %>" class="modal hide" data-keyboard="true" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Remove calculation</h4>
                    </div>
                    <div class="modal-body" style="font-size: 12px;">
                        <pre style="font-size: 12px;" class="modal-body-pre">Are you sure to remove calculation:<br><b>(<%= calc.get('id') %>) <%= calc.get('description') %></b> ?</pre>
                    </div>
                    <div class="modal-footer">
                      <button type="button" data-calc-id="<%= calc.get('id') %>" data-calc-desc="<%= calc.get('description') %>" class="btn btn-show-remove">Yes</button>
                      <button type="button" data-calc-id="<%= calc.get('id') %>" class="btn btn-default btn-hide-no">No</button>
                    </div>
                  </div>
                </div>
                </div>
                <!-- end confirm_modal -->
                {% endif %}
                <% if (calc.get('status') == 'complete') { %>
                <a href="{% url "index" %}/<%= calc.get('id') %>/{% if application_mode == 'AELO'%}outputs_aelo{% elif  application_mode == 'ARISTOTLE' %}outputs_aristotle{% else %}outputs{% endif %}" class="btn btn-sm calc-list-btn" style="margin: 2px 0 2px 0">Outputs</a>
                  {% if application_mode != 'AELO' and application_mode != 'READ_ONLY' %}
                  <form class="calc-form" enctype="multipart/form-data"
                    style="margin: 0; display: inline-block"
                    method="post" action="{{ oq_engine_server_url }}/v1/calc/run">
                  <input type="hidden" name="calculation_type" value="risk"/>
                  <div class="fileinput-new" data-provides="fileinput" style="margin: 2px 0 2px 0">
                    <span class="btn btn-default btn-sm btn-file calc-list-btn"><span class="fileinput-new">Continue</span><input type="file" name="archive"/></span>
                  </div>
                  <input type="hidden" name="hazard_job_id" value="<%= calc.get('id') %>"/>
                  </form>
                  {% endif %}
                <% } else { %>
                  <a href="#" data-calc-id="<%= calc.get('id') %>" class="btn btn-sm btn-traceback calc-list-btn" style="margin: 2px 0 2px 0;">Traceback</a>
                <% } %>
              <% } else if (calc.get('abortable')) { %>
              {% if application_mode != 'READ_ONLY' %}
              <a href="#" data-calc-id="<%= calc.get('id') %>" class="btn btn-sm btn-danger calc-list-btn" style="margin: 2px 0 2px 0;">Abort</a>
              <!-- confirm_modal -->
              <div class="modal-backdrop in hide back_confirmDialog<%= calc.get('id') %>"></div>
              <div id="confirmDialog<%= calc.get('id') %>" class="modal hide" data-keyboard="true" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Abort calculation</h4>
                  </div>
                  <div class="modal-body" style="font-size: 12px;">
                      <pre style="font-size: 12px;" class="modal-body-pre">Are you sure to abort calculation:<br><b>(<%= calc.get('id') %>) <%= calc.get('description') %></b> ?</pre>
                  </div>
                  <div class="modal-footer">
                    <button type="button" data-calc-id="<%= calc.get('id') %>" data-calc-desc="<%= calc.get('description') %>" class="btn btn-show-abort">Yes</button>
                    <button type="button" data-calc-id="<%= calc.get('id') %>" class="btn btn-default btn-hide-no">No</button>
                  </div>
                </div>
              </div>
              </div>
              <!-- end confirm_modal -->
              {% endif %}
            <% } %>
          <% } %>
          </td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  </script>

  {% endblock templates %}

  {% block extra_script %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}js/engine.js"></script>
  {% endblock extra_script %}
