[Unit]
Description=The OpenQuake Engine DbServer
Documentation=https://github.com/gem/oq-engine/wiki
After=network.target

[Service]
User=openquake
Group=openquake
Environment=
WorkingDirectory=/usr/share/openquake/engine
ExecStart=/opt/openquake/bin/python3 -m openquake.server.dbserver
Restart=always
RestartSec=30
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
