[Unit]
Description=The OpenQuake Engine Celery instance
Documentation=https://github.com/gem/oq-engine/wiki
After=network.target openquake-dbserver.service

[Service]
User=openquake
Group=openquake
Environment=
WorkingDirectory=/usr/share/openquake/engine
ExecStart=/opt/openquake/bin/python3 -m celery worker --config openquake.engine.celeryconfig --purge -Ofair
Restart=always
RestartSec=30
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
