{% load cookie_consent_tags %}
    {% if request|cookie_group_accepted:"analytics=*:.google.com" %}{% if google_analytics_token %}<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_token }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

    gtag('config', '{{ google_analytics_token }}');
    </script>{% endif %}{% endif %}
