  <footer id="footer" class="footer">
    <div class="container">
      <div class="pull-left">
        {% if application_mode == 'AELO' %}
        <a href="https://www.globalquakemodel.org/proj/aelo" target="_blank">AELO</a> <span><a href="{% url "aelo_changelog" %}">{{ aelo_version }}</a></span> |
        {% endif %}
        <a href="https://github.com/gem/oq-engine" target="_blank">OpenQuake Engine</a> <span>{{ oq_engine_version }}</span> |
        <a href="{% url "license" %}">License</a>
      </div>
      <div class="pull-right"></div> <!-- /.pull-right -->
    </div> <!-- /.container -->
  </footer>
