[Unit]
Description=The OpenQuake Engine WebUI
Documentation=https://github.com/gem/oq-engine/wiki
After=network.target openquake-dbserver.service

[Service]
User=openquake
Group=openquake
Environment=
WorkingDirectory=/usr/share/openquake/engine
ExecStart=/opt/openquake/bin/python3 -m openquake.server.manage runserver 127.0.0.1:8800 --noreload
# Using gunicorn (Nginx or another webserver is needed for static content)
# ExecStart=/opt/openquake/bin/gunicorn -w 2 openquake.server.wsgi:application
Restart=always
RestartSec=30
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
