[Unit]
Description=The OpenQuake Engine WebUI
Documentation=https://github.com/gem/oq-engine/wiki
After=network.target openquake-dbserver.service

[Service]
User=openquake
Group=openquake
WorkingDirectory=/usr/lib/python2.7/site-packages/openquake/server/
ExecStart=python manage.py runserver 127.0.0.1:8800 --noreload
Restart=always
RestartSec=30
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
