Source: python-oq-commonlib
Section: python
Priority: extra
Maintainer: Matteo Nastasi (GEM Foundation) <nastasi@openquake.org>
Build-Depends: debhelper (>= 7.0.50~), python (>=2.6), python-setuptools, python-nose, python-coverage, quilt, python-mock
Standards-Version: 3.9.3
Homepage: http://github.com/gem/oq-commonlib

Package: python-oq-commonlib
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-scipy, python-numpy, python-lxml, python-psutil, python-concurrent.futures, python-oq-nrmllib, python-oq-risklib, python-oq-hazardlib
Description: common openquake libraries for both hazard and risk analysis.









