Source: python-oq-nrmllib
Section: python
Priority: extra
Maintainer: Matteo Nastasi (GEM Foundation) <nastasi@openquake.org>
Build-Depends: debhelper (>= 7.0.50~), python (>=2.6), python-setuptools, libxml2-utils, python-nose, python-coverage, quilt
Standards-Version: 3.9.3
Homepage: http://github.com/gem/oq-nrmllib
#Vcs-Git: git://git.debian.org/collab-maint/python-dateutil.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/python-dateutil.git;a=summary

Package: python-oq-nrmllib
Architecture: all
Conflicts: python-nrml
Depends: ${shlibs:Depends}, ${misc:Depends}, python-lxml, python-numpy
Description: Natural hazards' Risk Markup Language (NRML) is a collection of
 XML schema definitions for modelling inputs and outputs for seismic hazard
 and risk analysis.
 NRML also includes a library of parsers and serializers for reading from and
 writing to NRML XML artifacts.
