#!/bin/sh -e
GEM_DEB_PACKAGE="python-oq-engine-worker"
PG_CONF="/etc/postgresql/9.1/main/postgresql.conf"

#echo "CONFIG [$PPID] $*" >> /tmp/oq-engine.log
#env >> /tmp/oq-engine.log
#echo "FINISH" >> /tmp/oq-engine.log

# Source debconf library.
. /usr/share/debconf/confmodule

#
#  NOTE
#        look 'debian/postinst' file if you want to change something here
#
# does postgresql config file exist ?
if [ -f "$PG_CONF" ]; then
    # is standard_conforming_strings set to the wrong value for us ?
    if grep -q '^[ 	]*standard_conforming_strings[ 	]*=[ 	]*on' "$PG_CONF" ; then
        db_input critical ${GEM_DEB_PACKAGE}/override-psql-std-conf-str || true
        db_go
    fi
fi

db_input critical ${GEM_DEB_PACKAGE}/master-address || true
db_go
