#!/bin/sh -e
GEM_DEB_PACKAGE="python-oq-engine-master"
GEM_TB="	"
PG_CONF="/etc/postgresql/9.1/main/postgresql.conf"

#echo "CONFIG [$PPID] $*" >> /tmp/oq-engine.log
#env >> /tmp/oq-engine.log
#echo "FINISH" >> /tmp/oq-engine.log

# Source debconf library.
. /usr/share/debconf/confmodule

#
#  NOTE
#        look 'debian/python-oq-engine-master.postinst' file if you want to change something here
#
# does postgresql config file exist ?
db_input critical ${GEM_DEB_PACKAGE}/workers-cores-number || true
db_go
db_get ${GEM_DEB_PACKAGE}/workers-cores-number || true
workers_cores_number="$RET"

if [ -f "$PG_CONF" ]; then
    tmpfile=$(mktemp)
    sed '/^# PYTHON-OQ-ENGINE: CONFIGURATION BEGIN.*/,/^# PYTHON-OQ-ENGINE: CONFIGURATION END.*/d' "$PG_CONF" > "$tmpfile"
    # is standard_conforming_strings set to the wrong value for us ?
    if grep -q "^[ $GEM_TB]*standard_conforming_strings[ $GEM_TB]*=[ $GEM_TB]*on" "$tmpfile" ; then
        db_input critical ${GEM_DEB_PACKAGE}/pg-conf-std-conf-str-override || true
        db_go
    fi

    # is listen_addresses set ?
    if ! grep -q "^[ $GEM_TB]*listen_addresses[ $GEM_TB]*=[ $GEM_TB]'*'" "$tmpfile" ; then
        if ! grep -q "^[ $GEM_TB]*listen_addresses[ $GEM_TB]*=[ $GEM_TB]'0.0.0.0'" "$tmpfile" ; then
            db_input critical ${GEM_DEB_PACKAGE}/pg-conf-listen-addresses-override || true
            db_go
        fi
    fi

    # does exists an active max_connections entry ?
    if grep -q "^[ $GEM_TB]*max_connections[ $GEM_TB]*=[ $GEM_TB]*" "$tmpfile" ; then
        max_conn_curr="$(grep "^[ $GEM_TB]*max_connections[ $GEM_TB]*=[ $GEM_TB]*" "$tmpfile" | sed "s/.*=[ $GEM_TB]*//g;s/\([0-9]*\).*/\1/g")"
        max_conn_req="$((workers_cores_number * 2))"
        if [ $max_conn_curr -lt $max_conn_req ]; then
            db_input critical ${GEM_DEB_PACKAGE}/pg-conf-max-conn-override || true
            db_go
        fi
    fi
fi

db_input critical ${GEM_DEB_PACKAGE}/pg-hba-allowed-hosts || true
db_go

db_input critical ${GEM_DEB_PACKAGE}/kernel-shmmax-override || true
db_go

db_input critical ${GEM_DEB_PACKAGE}/kernel-shmall-override || true
db_go
