#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DISTUTILS_DEBUG=1
export DH_VERBOSE=1
export DH_OPTIONS=-v

# This has to be exported to make some magic below work.
export DH_OPTIONS

bd=openquake/bin


%:
	dh $@ --with quilt

override_dh_quilt_patch:
	dh_quilt_patch
	[ -f $(bd)/oq_restart_workers ] || mv $(bd)/oq-restart $(bd)/oq_restart_workers
	[ -f $(bd)/oq_create_db ] || mv $(bd)/create_oq_schema $(bd)/oq_create_db
	cp openquake/__init__.py /tmp
	cat /tmp/__init__.py | sed -e "s/0)  #.*$$/`date +'%s'`)/" > openquake/__init__.py

override_dh_quilt_unpatch:
	[ -f $(bd)/oq-restart ] || mv $(bd)/oq_restart_workers $(bd)/oq-restart
	[ -f $(bd)/create_oq_schema ] || mv $(bd)/oq_create_db $(bd)/create_oq_schema
	dh_quilt_unpatch
