#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DISTUTILS_DEBUG=1
export DH_VERBOSE=1
export DH_OPTIONS=-v

# This has to be exported to make some magic below work.
export DH_OPTIONS

bd=openquake/bin

XENIAL_DEP = python-h5py, python-celery, python-celery-common, python-amqp
XENIAL_REC =
TRUSTY_DEP = python-h5py, python-celery, python-amqp
TRUSTY_REC =
PRECISE_DEP = python-celery (>=2.4.6-1ubuntu0.2~gem03), python-h5py (= 2.2.1-1build3~precise03)
PRECISE_REC =

ifeq ($(shell lsb_release --codename --short),xenial)
	DEPENDS = -Vdist:Depends="$(XENIAL_DEP)"
	RECOMMENDS = -Vdist:Recommends="$(XENIAL_REC)"
else ifeq ($(shell lsb_release --codename --short),trusty)
	DEPENDS = -Vdist:Depends="$(TRUSTY_DEP)"
	RECOMMENDS = -Vdist:Recommends="$(TRUSTY_REC)"
else ifeq ($(shell lsb_release --codename --short),precise)
	DEPENDS = -Vdist:Depends="$(PRECISE_DEP)"
	RECOMMENDS = -Vdist:Recommends="$(PRECISE_REC)"
else
	DEPENDS = -Vdist:Depends="$(DEFAULT_DEP)"
	RECOMMENDS = -Vdist:Recommends="$(DEFAULT_REC)"
endif

%:
	dh --with python2 --with quilt --buildsystem=python_distutils $@

override_dh_quilt_patch:
	dh_quilt_patch
	cp openquake/__init__.py /tmp
	cat /tmp/__init__.py | sed -e "s/0)  #.*$$/`date +'%s'`)/" > openquake/__init__.py

override_dh_gencontrol:
	dh_gencontrol -- $(DEPENDS) $(RECOMMENDS)
