#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DISTUTILS_DEBUG=1
export DH_VERBOSE=1
export DH_OPTIONS=-v

# This has to be exported to make some magic below work.
export DH_OPTIONS

bd=openquake/bin


%:
	dh --with python2 --with quilt --buildsystem=python_distutils $@

override_dh_installdeb:
	dh_installdeb
	sed -i 's@$${GEM_FAKEROOT}@@g;/^# GEM DEVEL BEGIN/,/^# GEM DEVEL END/c# GEM DEVEL BLOCK REMOVED DURING PACKAGING, LOOK SOURCES FOR DETAILS' $$(find | egrep '/DEBIAN/post|/DEBIAN/config')

override_dh_installinit:
	dh_installinit --no-start --no-restart-on-upgrade --name=celeryd -- defaults 21 19

override_dh_quilt_patch:
	dh_quilt_patch $@
	cp openquake/__init__.py /tmp
	cat /tmp/__init__.py | sed -e "s/0)  #.*$$/`date +'%s'`)/" > openquake/__init__.py
	for i in celeryd.default celeryd.init install; do  \
	  cp debian/python-oq-engine-standalone.$$i debian/python-oq-engine-worker.$$i ; \
	  sed -i 's/python-oq-engine-standalone/python-oq-engine-worker/g' debian/python-oq-engine-worker.$$i ; \
	done

