<div id="cf_subtabs">
  <ul class="nav nav-tabs oqplatform">
    <li><a href="#cf_subtabs-1">Earthquake Scenarios</a></li>
    <li><a href="#cf_subtabs-3">Stochastic Event-Based</a></li>
    <li><a href="#cf_subtabs-4">Volcano Scenarios</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active in" id="cf_subtabs-1" name="scenario">
      {% include "ipt/tabs/cf/scenario.html" %}
    </div>
    <div class="tab-pane" id="cf_subtabs-3" name="event-based">
      {% include "ipt/tabs/cf/event_based.html" %}
    </div>
    <div class="tab-pane" id="cf_subtabs-4" name="volcano">
      {% include "ipt/tabs/cf/volcano.html" %}
    </div>
  </div>
</div>

