<div class="menuItems">
  <label>Magnitude (Mw) <span class="ui-icon ui-icon-help ipt_help" title='Moment magnitude (Mw) of the event.'></span>: </label>
  <input type="text" name="magnitude" value="6.0" placeholder="float > 0">
</div>
<div class="menuItems">
  <label>Rake (degrees) <span class="ui-icon ui-icon-help ipt_help" title= 'The rake is the direction (angle) in which a hanging wall block moves during a rupture, measured relative to fault strike on the plane of the fault.'></span>:</label>
  <input type="text" name="rake" placeholder="-180 ≤ float ≤ 180">
</div>

<h3>Hypocenter <span class="ui-icon ui-icon-help ipt_help" title='Point within the earth where an earthquake rupture starts.'></span></h3>

<div class="menuItems">
  <label>Longitude (degrees):</label>
  <input type="text" name="hypo_lon" placeholder="-180 ≤ float ≤ 180">
</div>
<div class="menuItems">
  <label>Latitude (degrees):</label>
  <input type="text" name="hypo_lat" placeholder="-90 ≤ float ≤ 90">
</div>
<div class="menuItems">
  <label>Depth (km):</label>
  <input type="text" name="hypo_depth" placeholder="float ≥ 0">
</div>

<h3>Rupture type</h3>
<div class="alert alert-info ipt-info" role="alert">
  Select rupture type:<br>
  <div style="text-align: center;">
    <div class="chbox">
      <input type="radio" name="rupture_type" value="arbitrary" checked="checked"
             >&nbsp;<span class="inlible">Arbitrary Fault Rupture</span>
    </div>
    <div class="chbox">
      <input type="radio" name="rupture_type" value="simple"
             >&nbsp;<span class="inlible">Simple Fault Rupture
        <span class="ui-icon ui-icon-help ipt_help" title='For this fault type, the geometry is defined by the trace of the fault rupture, the dip and the upper and lower seismogenic depths.'></span>
      </span>
    </div><br>
    <div class="chbox">
      <input type="radio" name="rupture_type" value="planar"
             >&nbsp;<span class="inlible">Single Planar Rupture OR Multi-Planar Rupture
        <span class="ui-icon ui-icon-help ipt_help" title='For this fault type, the geometry is defined as a collection of one or more rectangular planes, each defined by four corners.'></span>
      </span>
    </div>
    <div class="chbox">
      <input type="radio" name="rupture_type" value="complex"
             >&nbsp;<span class="inlible">Complex Fault Rupture
        <span class="ui-icon ui-icon-help ipt_help" title='For this fault type, the geometry is defined by the upper, lower and (if applicable) intermediate edges of the fault rupture.'></span>
      </span>
    </div>
  </div>
</div>

<div name="rupture">
  <!-- SIMPLE -->
  <div name="simple" style="display: none;">
    <h3>Simple Fault Rupture</h3><br>
    <div class="menuItems">
      <label>Dip (degrees) <span class="ui-icon ui-icon-help ipt_help" title='Up-dip projection of the fault to the Earth's surface'></span>:</label>
      <input type="text" name="dip" value="90" placeholder="0 < float ≤ 90">
    </div>
    <div class="menuItems">
      <label>Upper seismogenic depth (km) <span class="ui-icon ui-icon-help ipt_help" title='Shallowest depth of the seismogenic rupture'>:</label>
      <input type="text" name="upper_ses_dep" placeholder="float ≥ 0" value="0">
    </div>
    <div class="menuItems">
      <label>Lower seismogenic depth (km) <span class="ui-icon ui-icon-help ipt_help" title='Deepest depth of the seismogenic rupture'>:</label>
      <input type="text" name="lower_ses_dep" placeholder="float ≥ 0" value="15">
    </div>

    <div class="alert alert-info ipt-info" role="alert">
      Copy and paste values from a spreadsheet into the table below.</div>
    <div class="ipt-info">
      <div class="vfsForm">
        <label>Simple Fault Geometry <span class="ui-icon ui-icon-help ipt_help" title='Up-dip projection of the fault to the Earth's surface'></span>:</label>
      </div>
      <div class="ipt-info" style="text-align: right;">
        <div name="geometry" style="height: 100px; overflow: hidden;"></div>
        <button name="new_row_add" class="btn" style="margin-right: 20px;">New Row</button>
      </div>
    </div>
  </div>


  <!-- PLANAR -->
  <div name="planar" style="display: none;">
    <h3>Single Planar Rupture OR Multi-Planar Rupture</h3>
    <div name="planars">
    </div>
    <button name="planar_surface_add" class="btn" type="button" style="margin-left: 150px;">Add Planar Surface</button>
  </div>


  <!-- COMPLEX -->
  <div name="complex" style="display: none;">
    <h3>Complex Fault Rupture</h3>
    <div name="complexes">
    </div>
    <button name="complex_surface_add" class="btn" type="button" style="margin-left: 150px;">Add Complex Surface</button>
  </div>

  <!-- ARBITRARY -->
  <div name="arbitrary">
    <h3>Arbitrary Fault Rupture</h3>
    <div class="menuItems">
      <label>Strike (degrees) <span class="ui-icon ui-icon-help ipt_help" title="The strike direction corresponds to the angle between the north and the direction you take so that when you walk along the fault trace the fault dips on your right."></span>:</label>
      <input type="text" name="strike" value="0" placeholder="0 ≤ float ≤ 360">
    </div>
    <div class="menuItems">
      <label>Dip (degrees)  <span class="ui-icon ui-icon-help ipt_help" title="The dip is the steepest angle of descent of the fault plane relative to a horizontal plane; it is measured in degrees in the range (0, 90].">:</label>
      <input type="text" name="dip" value="90" placeholder="0 < float ≤ 90">
    </div>
    <button name="arbitrary_populate" class="btn" type="button" style="margin-left: 150px;"
            onclick="er_obj.arbitrary_geometry_populate();">Calculate Geometry</button>
    <div class="menuItems arbitrary_geometry" style="margin-top: 8px;">
      <label>Arbitrary Geometry:</label>
      <div style="margin-left: auto;">
        <div name="geometry" style="margin-left: auto; width: 600px; height: 160px; overflow: hidden;"></div>
      </div>
    </div>
  </div>
</div>
<div>
  <button id="convertBtn" type="button" class="btn btn-primary">Convert to NRML</button>
</div>

<div id="outputDiv" style="display: none; margin-top: 8px;">
  <div id="infoMsg" class="alert alert-info" role="alert">3. {%if gem_qgis != None %}'Save As' or Collect{% else %}Download{% endif %} the NRML file for use in the OpenQuake Engine.</div>
  <div id="validationErrorMsg" class="alert alert-warning" role="alert" style="display: none;">Error message</div>
  <div id="downloadLink" style="display: none;">
    {%if gem_qgis != None %}
    <button id="delegateDownloadBtn" type="button" class="btn">Save As</button>
    <button id="delegateCollectBtn" type="button" class="btn">Collect</button>
    {% else %}
    <button id="downloadBtn" type="button" class="btn">Download</button>
    {% endif %}
    <form id="downloadForm" method="post">{% csrf_token %}</form></div>
  <div id="outputText" style="width:600px; margin: auto;"></div>
</div>
