{% load i18n %}{% autoescape off %}
{% blocktranslate %}You are receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
<br/>
{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
<br/>
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
<br/>
{% translate "Thanks!" %}
<br/>
{% translate 'The OpenQuake project team' %}
{% endautoescape %}
