{% extends 'engine/base.html' %}
{% block main %}

<div class="text-center" style="width: 80%; margin: 0 auto">
  <h2>Password Reset</h2>
  <h3>
    Please enter the email address you used to register
    with us and we will send you a link to reset your password.
  </h3>
</div>
<br/>

<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Send email" /><br>
</form><br/>
<div class="text-center">
  <a href="{% url 'index' %}">Return to home page</a>
</div>

{% endblock%}
