[Unit]
Description=The OpenQuake Engine WebUI
Documentation=https://github.com/gem/oq-engine/
After=network.target oq-dbserver.service

[Service]
User=openquake
Group=openquake
Environment=
WorkingDirectory={{ webuidir_services }}
ExecStart=/opt/openquake/bin/python3 -m openquake.server.manage runserver {{ server_host }}:8800 --noreload
# Using uvicorn (Nginx or another webserver is needed for static content)
# ExecStart=/opt/openquake/bin/python3 -m uvicorn openquake.server.asgi:application --workers 2
# ExecStart=/opt/openquake/bin/python3 -m uvicorn openquake.server.asgi:application --host localhost --port 8001 --workers 16 --timeout 1200
Restart=always
RestartSec=30
KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
