---
name: docker
'on':
  schedule:
    - cron: "0 2 * * *"
  push:
    branches:
      - actions

jobs:
  docker:
    name: build and up compose 
    runs-on: ubuntu-18.04

    steps:
  # This Checkout is necessary when using a context in docker/build-push-action
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build image engine with tag nightly
        id: docker_engine
        run: docker build -t openquake/engine:nightly -f docker/Dockerfile.engine docker
      - name: List Image
        run: |
          docker image ls
      - name: Build image engine master with tag nightly
        id: docker_master
        run: docker build -t openquake/engine-master-zmq:nightly -f docker/zmq/Dockerfile.master docker/zmq
      - name: Builds image engine worker with tags nightly
        id: docker_worker
        run: docker build -t openquake/engine-worker-zmq:nightly -f docker/zmq/Dockerfile.worker docker/zmq
      - name: List Image
        run: |
          docker image ls
      - name: Run docker compose to build up cluster
        run: |
          cd docker
          docker-compose up -d
          sleep 30
          docker-compose ps
          time  docker-compose exec -T master oq engine --run oq-engine/demos/hazard/AreaSourceClassicalPSHA/job.ini
          curl http://localhost:8800/v1/calc/list
          docker-compose down

