name: Nightly Engine Demos on User mode
on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git Ref
        default: master
        required: true
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
  schedule:
    - cron: "55 3,12 * * *"

jobs:
  Scheduled_demos_and_WebUI:
    name: OQ ${{ matrix.engine-branch }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        python-version: ["3.11", "3.12"]
        engine-branch: ["master", "engine-3.23", "engine-3.24", "3.23"]
    if: github.event.inputs.git-ref == ''
    steps:
      - name: Set up Python  ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install OQ (${{ matrix.engine-branch }})
        run: |
          set -x
          curl -L -O https://github.com/gem/oq-engine/raw/master/install.py
          python install.py user --version=${{ matrix.engine-branch }} --venv $HOME/gh-venv-${{ matrix.engine-branch }}
      - name: (Scheduled) Test WebUI and run https calculation
        run: |
          source $HOME/gh-venv-${{ matrix.engine-branch }}/bin/activate
          set -x
          oq engine --upgrade-db
          oq --version
          # START WEBUI
          oq webui start 127.0.0.1:8800 -s &
          echo "Waiting WEBUI up on port 8800...."
          while ! nc -z localhost 8800; do
            sleep 5 # wait for 1/10 of the second before check again
          done
          echo "Test WebUI with curl "
          sleep 1
          # Perform migration after setup local_settings
          curl --fail -L -I -X GET http://127.0.0.1:8800
          # Run all demos
          cd $HOME/gh-venv-${{ matrix.engine-branch }}/
          curl -L -O https://raw.githubusercontent.com/gem/oq-engine/refs/heads/${{ matrix.engine-branch }}/bin/run-demos.sh
          oq_basedir=$(python -c "from openquake import baselib; print(baselib.__path__[0].rsplit('/', 2)[0])")
          qa_tests_data_dir=$oq_basedir/openquake/qa_tests_data
          bash ./run-demos.sh demos ${qa_tests_data_dir}
          # Run a calcs using https
          oq engine --run https://downloads.openquake.org/jobs/risk_test.zip
          curl -v --fail -G http://127.0.0.1:8800/engine/1/outputs
  Manual_demos_and_WebUI:
    name: OQ ${{ github.event.inputs.git-ref }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        python-version: ["3.11", "3.12"]
    if: github.event.inputs.git-ref != ''
    steps:
      - name: Install OQ (Custom Ref)
        run: |
          set -x
          curl -L -O https://github.com/gem/oq-engine/raw/master/install.py
          python install.py user --version=${{ github.event.inputs.git-ref }} --venv $HOME/gh-venv_custom-${{ github.event.inputs.git-ref }}
      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
      - name: (Manual) Test WebUI and run https calculation
        run: |
          source $HOME/gh-venv_custom-${{ github.event.inputs.git-ref }}/bin/activate
          set -x
          oq engine --upgrade-db
          oq --version
          # START WEBUI
          oq webui start 127.0.0.1:8800 -s &
          echo "Waiting WEBUI up on port 8800...."
          while ! nc -z localhost 8800; do
            sleep 5 # wait for 1/10 of the second before check again
          done
          echo "Test WebUI with curl "
          sleep 1
          # Perform migration after setup local_settings
          curl --fail -L -I -X GET http://127.0.0.1:8800
          # Run all demos
          cd $HOME/gh-venv_custom-${{ github.event.inputs.git-ref }}/
          curl -L -O https://raw.githubusercontent.com/gem/oq-engine/refs/heads/${{ github.event.inputs.git-ref }}/bin/run-demos.sh
          oq_basedir=$(python -c "from openquake import baselib; print(baselib.__path__[0].rsplit('/', 2)[0])")
          qa_tests_data_dir=$oq_basedir/openquake/qa_tests_data
          bash ./run-demos.sh demos ${qa_tests_data_dir}
          # Run a calcs using https
          oq engine --run https://downloads.openquake.org/jobs/risk_test.zip
          curl -v --fail -G http://127.0.0.1:8800/engine/1/outputs
