name: Nightly Engine Demos on User mode
on:
  workflow_dispatch:
    inputs:
      git-ref:
        description: Git Ref
        default: master
        required: true
      debug_enabled:
        type: boolean
        description: 'SSH Connection '
        required: false
        default: false
  schedule:
    - cron: "00 3,08 * * *"

jobs:
  Scheduled_demos_and_WebUI:
    name: OQ ${{ matrix.engine-ref }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    env:
      # Current LTS version on PyPI (TODO: keep the LTS version updated)
      OQ_LTS_PYPI_VERSION: 3.23
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        python-version: ["3.11", "3.12"]
        # engine-ref values:
        # - Git branches: master, engine-X.Y
        # - current LTS released on PyPI (TODO: keep the LTS version updated)
        # NOTE: We can not use OQ_LTS_PYPI_VERSION here because env is managed
        # after the maxtrix
        engine-ref: ["master", "engine-3.23", "engine-3.24", "3.23"]
    if: github.event.inputs.git-ref == ''
    steps:
      - name: Set up Python  ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install OQ (${{ matrix.engine-ref }})
        run: |
          set -x
          # Resolve demos branch:
          # PyPI LTS installs do not correspond to a Git ref;
          # demos are taken from the matching engine-* branch.
          if [[ "${{ matrix.engine-ref }}" == "${OQ_LTS_PYPI_VERSION}" ]]; then
              RUN_DEMOS_BRANCH="engine-${OQ_LTS_PYPI_VERSION}"
          else
              RUN_DEMOS_BRANCH="${{ matrix.engine-ref }}"
          fi
          curl -L -O https://github.com/gem/oq-engine/raw/${RUN_DEMOS_BRANCH}/install.py
          # Resolve engine-ref to an installable version
          python install.py user --version=${{ matrix.engine-ref }} --venv $HOME/gh-venv-${{ matrix.engine-ref }}
      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 60
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
      - name: (Scheduled) Test WebUI and run https calculation
        run: |
          source $HOME/gh-venv-${{ matrix.engine-ref }}/bin/activate
          set -x
          oq engine --upgrade-db
          oq --version
          # Run a calcs using https
          oq engine --run https://downloads.openquake.org/jobs/risk_test.zip
          # START WEBUI
          oq webui start 127.0.0.1:8800 -s &
          echo "Waiting WEBUI up on port 8800...."
          while ! nc -z localhost 8800; do
            sleep 5 # wait for 1/10 of the second before check again
          done
          echo "Test WebUI with curl "
          sleep 1
          curl -v --fail -G http://127.0.0.1:8800/engine/1/outputs
          sleep 1
          # Run all demos
          # Resolve demos branch:
          # PyPI LTS installs do not correspond to a Git ref;
          # demos are taken from the matching engine-* branch.
          if [[ "${{ matrix.engine-ref }}" == "${OQ_LTS_PYPI_VERSION}" ]]; then
              RUN_DEMOS_BRANCH="engine-${OQ_LTS_PYPI_VERSION}"
          else
              RUN_DEMOS_BRANCH="${{ matrix.engine-ref }}"
          fi
          cd $HOME/gh-venv-${{ matrix.engine-ref }}/
          curl -L -O https://raw.githubusercontent.com/gem/oq-engine/refs/heads/$RUN_DEMOS_BRANCH/bin/run-demos.sh
          oq_basedir=$(python -c "from openquake import baselib; print(baselib.__path__[0].rsplit('/', 2)[0])")
          qa_tests_data_dir=$oq_basedir/openquake/qa_tests_data
          bash ./run-demos.sh demos ${qa_tests_data_dir}
  Manual_demos_and_WebUI:
    name: OQ ${{ github.event.inputs.git-ref }} Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    env:
      # Current LTS version on PyPI (TODO: keep the LTS version updated)
      OQ_LTS_PYPI_VERSION: 3.23
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        python-version: ["3.11", "3.12"]
    if: github.event.inputs.git-ref != ''
    steps:
      - name: Install OQ (Custom Ref)
        run: |
          set -x
          if [[ "${{ github.event.inputs.git-ref }}" == "${OQ_LTS_PYPI_VERSION}" ]]; then
              RUN_DEMOS_BRANCH="engine-${OQ_LTS_PYPI_VERSION}"
          else
              RUN_DEMOS_BRANCH="${{ github.event.inputs.git-ref }}"
          fi
          curl -L -O https://github.com/gem/oq-engine/raw/${RUN_DEMOS_BRANCH}/install.py
          python install.py user --version=${{ github.event.inputs.git-ref }} --venv $HOME/gh-venv_custom-${{ github.event.inputs.git-ref }}
      - name: Setup debugging session
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
      - name: (Manual) Test WebUI and run https calculation
        run: |
          source $HOME/gh-venv_custom-${{ github.event.inputs.git-ref }}/bin/activate
          set -x
          oq engine --upgrade-db
          oq --version
          # Run a calcs using https
          oq engine --run https://downloads.openquake.org/jobs/risk_test.zip
          # START WEBUI
          oq webui start 127.0.0.1:8800 -s &
          echo "Waiting WEBUI up on port 8800...."
          while ! nc -z localhost 8800; do
            sleep 5 # wait for 1/10 of the second before check again
          done
          echo "Test WebUI with curl "
          sleep 1
          curl -v --fail -G http://127.0.0.1:8800/engine/1/outputs
          # Perform migration after setup local_settings
          curl --fail -L -I -X GET http://127.0.0.1:8800
          # Run all demos
          cd $HOME/gh-venv_custom-${{ github.event.inputs.git-ref }}/
          curl -L -O https://raw.githubusercontent.com/gem/oq-engine/refs/heads/${{ github.event.inputs.git-ref }}/bin/run-demos.sh
          oq_basedir=$(python -c "from openquake import baselib; print(baselib.__path__[0].rsplit('/', 2)[0])")
          qa_tests_data_dir=$oq_basedir/openquake/qa_tests_data
          bash ./run-demos.sh demos ${qa_tests_data_dir}
